[submodule "curl"]
	path = curl
	url = https://github.com/gcesarmza/curl-android-ios
	branch = master
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "fluid"]
	path = fluid
	url = https://github.com/lirios/fluid
	branch = develop
	ignore = untracked
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
	branch = master

[submodule "thirdparty/android_openssl"]
	path = thirdparty/android_openssl
	url = https://github.com/KDAB/android_openssl.git
