[submodule "curl"]
	path = curl
	url = https://www.github.com/gcesarmza/curl-android-ios
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "fluid"]
	path = fluid
	url = https://github.com/lirios/fluid
	ignore = untracked
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
